.pokedex-container {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-images {
    width: 70px;
    height: 70px;
}

.pokedex-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.pokemon-container {
    margin: 10px;
    padding: 10px;
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.pokemon-type {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    text-transform: capitalize;
    text-align: center;
}

.btn-load-more {
    padding: 5px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background-color: white;
    border-color: black;
    border: 2px solid;
}